:root{
    --light: #d8c6f0;
    --dark: #483066;
    --mid-color: #744fa1;
    --button-highlight: rgb(145, 168, 208);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
}

header li{
    color: var(--dark);
}

#highscore:hover{
    color: var(--light);
}

#highscore:active{
    /* shadow outline */
    box-shadow: 0px 0px 2px 2px var(--button-highlight);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div{
    /* padding for everything with less on bottom */
    padding: 10% 10% 1% 10%;
}

#display_main_page,
#score_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* display: none hides questions and score entry page on start */
#display_questions,
#display_end {
    display: none;
    flex-direction: column;
}

#display_questions{
    align-items: flex-start;
    border-bottom: 1px solid grey;
}

#display_end{
    align-items: center;
}

#display_end h2,
#display_end p{
    text-align: left;
}

h1{
    font-size: 150%;
    text-align: center;
    padding: 20px;
}

p{
    padding: 10px;
}

ul{
    list-style-type: none;
}

ol{
    padding: 10px;
}

ol li:nth-child(odd) {
    background-color: var(--light);
}

button{
    background-color: var(--dark);
    color: var(--light);
    margin: 5px;
    border-radius: 5px;
    padding: 1px 5px;
}

button:hover{
    /* highlight */
    background-color: var(--mid-color);
}

button:active{
    /* shadow outline */
    box-shadow: 0px 0px 2px 2px var(--button-highlight);
}

#result{
    margin-left: 10%;
    margin-right: 10%;
    color: grey;
    padding: 5px;
}

#buttons{
    display: flex;
    justify-content: space-around;
}